<a href="https://colab.research.google.com/github/Dayeon1256/crawling/blob/main/1_13_Crawling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 1/11 복습

In [3]:
# pip install requests
import requests # 웹 연결 라이브러리

In [4]:
from bs4 import BeautifulSoup as bs # 데이터를 분석하기 쉽게 정제해주는 라이브러리

In [5]:
import pandas # 데이터 분석 라이브러리

In [42]:
url = 'https://music.bugs.co.kr/chart'
html = requests.get(url)
#html.text # 의미 없는 글자

In [25]:
soup = bs(html.text, 'html.parser')

In [12]:
songs = soup.select('table.byChart > tbody > tr')
len(soup.select('table.byChart > tbody > tr'))

100

In [24]:
song = songs[0]

In [18]:
singer = song.select('p.artist > a')[0].text
singer

'프로미스나인'

In [19]:
title = song.select('p.title > a')[0].text
title

'DM'

In [22]:
import pandas as pd

song_data = []
rank = 1

songs = soup.select('table.byChart > tbody > tr')

for song in songs:
  singer = song.select('p.artist > a')[0].text
  title = song.select('p.title > a')[0].text
  song_data.append([rank,title,singer])
  rank += 1 # rank = rank +1


df = pd.DataFrame(song_data, columns = ['순위', '타이틀', '가수'])
df

     순위  ...                    가수
0     1  ...                프로미스나인
1     2  ...          태연 (TAEYEON)
2     3  ...                프로미스나인
3     4  ...                프로미스나인
4     5  ...                프로미스나인
..  ...  ...                   ...
95   96  ...     Ed Sheeran(에드 시런)
96   97  ...      오마이걸(OH MY GIRL)
97   98  ...          싱어게인2 37호 가수
98   99  ...  David Guetta(데이빗 게타)
99  100  ...             Adele(아델)

[100 rows x 3 columns]

In [23]:
df.to_excel('bugs.xlsx', index = False) # 인덱스 삭제

# 본수업

## 네이버 영화 평점

In [26]:
import requests # 인터넷 연결
from bs4 import BeautifulSoup as bs # 데이터 분석 쉽게 처리
import pandas as pd # 데이터 분석 라이브러리

In [27]:
url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=20220119'

html = requests.get(url)
soup = bs(html.text)

In [30]:
title_n = soup.select('div.tit5 > a')
len(title_n)

17

In [31]:
title_n[0]

In [35]:
point_n = soup.select('td.point')
len(point_n)

17

In [36]:
point_n[0].text

'9.43'

In [37]:
print(title_n[0].text)
print(point_n[0].text)

씽2게더
9.43

In [39]:
movie_list=[]
rank = 1

for each in range(len(point_n)):
  title = title_n[each].text
  point = point_n[each].text
  movie_list.append([rank, title, point])
  rank += 1

movie_list

[[1, '씽2게더', '9.43'],
 [2, '코다', '9.23'],
 [3, '러브레터', '9.12'],
 [4, '기쿠지로의 여름', '8.92'],
 [5, '스파이더맨: 노 웨이 홈', '8.92'],
 [6, '아멜리에', '8.81'],
 [7, '돈 룩 업', '8.69'],
 [8, '드라이브 마이 카', '8.59'],
 [9, '태일이', '8.47'],
 [10, '특송', '8.35'],
 [11, '킹스맨: 퍼스트 에이전트', '8.09'],
 [12, '프렌치 디스패치', '7.99'],
 [13, '하우스 오브 구찌', '7.98'],
 [14, '경관의 피', '7.67'],
 [15, '해피 뉴 이어', '7.04'],
 [16, '웨스트 사이드 스토리', '6.76'],
 [17, '매트릭스: 리저렉션', '5.51']]

In [41]:
movie_list=[]
rank = 1

for each in range(len(point_n)):
  title = title_n[each].text
  point = point_n[each].text
  movie_list.append([rank, title, point])
  rank += 1

df = pd.DataFrame(movie_list, columns = ['순위', '제목', '평점'])
df

    순위             제목    평점
0    1           씽2게더  9.43
1    2             코다  9.23
2    3           러브레터  9.12
3    4       기쿠지로의 여름  8.92
4    5  스파이더맨: 노 웨이 홈  8.92
5    6           아멜리에  8.81
6    7          돈 룩 업  8.69
7    8      드라이브 마이 카  8.59
8    9            태일이  8.47
9   10             특송  8.35
10  11  킹스맨: 퍼스트 에이전트  8.09
11  12       프렌치 디스패치  7.99
12  13      하우스 오브 구찌  7.98
13  14          경관의 피  7.67
14  15        해피 뉴 이어  7.04
15  16    웨스트 사이드 스토리  6.76
16  17     매트릭스: 리저렉션  5.51

## MELON 순위 - jupyter 참고

response[200] : 성공
response[406] : 오류

In [43]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [44]:
url = "https://www.melon.com/chart/index.htm"
html = requests.get(url)
html

In [45]:
url = "https://www.melon.com/chart/index.htm"
html = requests.get(url)
html.text

''

## GENIE 순위 - jupyter 참고

In [46]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [48]:
url = "https://www.genie.co.kr/chart/top200"
html = requests.get(url)
html.text

'<br>\r\n<br>\r\n<center>\r\n<img src="http://www.geniemusic.co.kr/images/common/logo_r1.png"><br>\r\n<h2> <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> ì\xa0\x91ì\x86\x8dì\x9a\x94ì²\xadì\x9d´ ë³´ì\x95\x88ì\xa0\x95ì±\x85ì\x97\x90 ì\x9d\x98í\x95´ ì°¨ë\x8b¨ë\x90\x98ì\x97\x88ì\x8aµë\x8b\x88ë\x8b¤. ë\x8b¹ì\x82¬ ê³\xa0ê°\x9dì\x84¼í\x84°ë¡\x9c ë¬¸ì\x9d\x98í\x95´ì£¼ì\x8b\xadì\x8b\x9cì\x98¤.<br><br>\r\nThe security policy of the connection request is blocked. Contact your customer service representative.<br><br>\r\nì§\x80ë\x8b\x88ë®¤ì§\x81 ê³\xa0ê°\x9dì\x84¼í\x84° 1577-5337<br><br>\r\n</h2>\r\n</center>\r\n<br>'